body {
  width: 700px;
  height: 500px;
  border: 1px solid black;
}
.box1 {
  width: 100px;
  height: 80px;
  background-color: blue;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  color: white;
}
.box2 {
  width: 100px;
  height: 50px;
  background-color: red;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  color: white;
}
.box3 {
  width: 100px;
  height: 80px;
  background-color: green;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  color: white;
}
